<div id="allArea">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <img src="/Images/Error.jpg" alt="Here You should see Your Photo" />
            </div>
        </div>
        <div class="col-md-6">
            <h1> Error Was detected!</h1>
            <a class="btn btn-success btn btn-secondary" href="/Albums/UserAlbums" role="button"> <i class="glyphicon glyphicon-home"></i> Go home</a>
        </div>
    </div>
</div>
