@{
    ViewBag.Title = "JustRegisteredUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5 mb-8 bg-white text-dark">
    <div class="form-inline">
        &emsp;You haven’t any album yet. Let’s create...
        <a class="btn btn-success  setmargin" href="/Albums/Create">Create Album</a>
    </div>
</div>
