@model PhotoManager.UI.Models.Albums.UpdateAlbumModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Update Album</h1>

@using (Html.BeginForm("Update", "Albums"))
{
    @Html.ValidationSummary(true)
    <fieldset>


        @Html.HiddenFor(model => model.Id)

        @Html.Partial("Form")

        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="setmargin float-left">
                <input class="btn-primary float-right butoonAttach1 butoonAttach2" type="submit" value="Save" />
            </div>
        </div>

    </fieldset>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

