
@{
    ViewBag.Title = "EmptUserPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5 mb-8 bg-gradient-light">
    <div class="form-inline">
        &emsp;You haven’t added any photo yet. Let’s create...
        <a class="btn btn-info setmargin" href="/Photos/Create">Upload Photo</a>
    </div>
</div>
